#footer {
  padding: 24px 40px;
  background-color: var(--color-navy-blue);
}

#footer > a {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-cloud);
  margin-bottom: 16px;
}

#footer > a span {
  color: var(--color-iris);
}

#footer p {
  max-width: 264px;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-cloud);
}
