.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-cloud);
}

.footer-logo span {
  color: var(--color-iris);
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-cloud);
}