#header {
  display: flex;
  flex-direction: column;
  padding: 16px 40px;
  border-bottom: 1px solid var(--color-cornflower);
}

#header > a {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-navy-blue);
  margin-bottom: 16px;
}

#header > a span {
  color: var(--color-iris);
}

#header nav ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}

#header nav a {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
}

#header nav a:hover,
#header nav a:focus {
  color: var(--color-ocean);
}

#header address ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#header address a {
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-slate);
}

#header address a:hover,
#header address a:focus {
  color: var(--color-ocean);
}
